*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchbar{
  font-size: 15px;
}

.search-btn{
  font-size: 15px;
}

.star{
  color: lightgrey;
  font-size: 13px;
}

.star-full{
  color: gold;
}

.flag{
  width: 15px;
}
